@model CatalogoRoupas.Models.CatalogoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CatalogoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Masculino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Masculino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feminino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feminino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
